#header {
    background-color: black;
    color: white;
    text-align:center;
    padding:5px;
    font-family: Times;
    font-size: 100%;
}

#footer {
    background-color: black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
    font-family: impact;
}

#img {
   padding:2px;
   border:2px solid #021a40;
   text-align: center;

}

#p1 {
    margin-top: 2px;
   
}

a:visited {
    color: hotpink;
}

.center {
	text-align: center;  
}

.body {
	font-style: Times;
}

.p5 {
	text-align: center;
}

.p7 {
	text-align: center;
}

<style>
@media (max-width: 580px) {
  .facet_sidebar {
    display: none;
  }
}
</style>
